<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Register</title>
    <link rel="stylesheet" href="/stylesheets/register.css">
</head>
<body>
  <div class="main">
    <div class="regissec">
      <h2 style="margin-top: 30%;">Create New Account On</h2>
      <h2 style="color:rgb(5, 118, 194)">My Facebook</h2>
      <h5>Life is better with friends!</h5>
      <form action="/reg" method="POST">
        <input type="text" placeholder="Name" name="name" class="text1">
        <br>
        <input type="text" placeholder="Email" name="email" class="text1">
        <br>
        <input type="text" placeholder="UserName" name="username" class="text2">
        <br>
        <input type="password" placeholder="Password" name="password" class="text2">
        <br>
        <button type="submit" class="regis" >Register as an User</button>
      </form>
      <a href="login">
        <p class="tolog">Already have an Account?</p>
      </a>
      
    </div>
    <div class="photosec">

    </div>

  </div>

  
    
    
    
</body>
</html>