<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/stylesheets/login.css">
</head>
<body>
    <div class="login">
        <i class="fa-brands fa-facebook"></i>
        <h3 style="margin-top: 10%; color: blue;">MY FACEBOOK</h3>
        <form action="/login" method="POST" >
            <input type="text" class="username">
            <br>
            <input type="password" class="pass">
            <br>
            <button class="butlog" type="submit">LOGIN</button>
        </form>
        <br>
        <a href="index" style="padding-bottom:4px;">Register Now</a>
        <p class="written">
            You need to register to the app before <p class="written">watching the content,read,terms</p> <p class="written">and conditions applied.</p> 
        </p>
        



    </div>
    
</body>
</html>