<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/stylesheets/profile.css">
</head>
<body>
    <div class="profile">
        <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Aut omnis accusamus dolorum deserunt! Nam unde consectetur numquam id distinctio ea quam quia. Maiores cupiditate odit quia iste odio eaque obcaecati!
        </p> 
        <a href=""><button>Go to Timeline</button></a>
        <a href=""><button>Logout</button></a>
        
        
    </div>
</body>
</html>