<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/stylesheets/timeline.css">
</head>
<body>
    <p> </p>
    <p> </p>
    <a href=""><button>Back to Profile</button></a>
    <p>What's your current thought?</p>
    <textarea name="" id="" cols="30" rows="10" placeholder="Write your thought here....">

    </textarea>
    <a href=""><button>Post It</button></a>
    <h3>Previous Posts</h3> 
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit?</p>   
    
</body>
</html>